[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
httpx = "*"
toml = "*"
woocommerce = "*"

[dev-packages]
ruff = "*"
isort = "*"
blue = "*"

[requires]
python_version = "3.11"
